@use "../temas" as *;
@use "../02_variables" as *;

@include temas using ($map) {
  .bg-theme-2,
  .badge-theme-2 {
    background-color: map-get($map, theme-color-2) !important;
    color: map-get($map, button-text-color);
  }

  .bg-theme-3,
  .badge-theme-3 {
    background-color: map-get($map, theme-color-3) !important;
    color: map-get($map, button-text-color);
  }

  .bg-primary,
  .bg-theme-1,
  .badge-primary,
  .badge-theme-1 {
    background-color: map-get($map, theme-color-1) !important;
    color: map-get($map, button-text-color);
  }

  .bg-secondary,
  .badge-secondary {
    background-color: map-get($map, theme-color-2) !important;
    color: map-get($map, button-text-color);
  }

  .bg-muted {
    background-color: map-get($map, muted-color);
    border: 1px solid map-get($map, muted-color);
  }

  .bg-semi-muted {
    background-color: map-get($map, background-color);
    border: 1px solid map-get($map, background-color);
  }

  .badge-warning {
    background-color: $warning-color;
    border: 1px solid $warning-color;
  }

  .badge-success {
    background-color: $success-color;
    border: 1px solid $success-color;
    color: #6c6c6c !important;
  }

  .badge-info {
    background-color: $info-color;
  }

  .badge-danger,
  .badge-error {
    background-color: $error-color;
  }

  .badge-success,
  .badge-danger,
  .badge-error,
  .badge-warning,
  .badge-info {
    color: map-get($map, button-text-color);
  }

  .badge {
    padding: 0.55em 0.75em 0.6em 0.75em;
    font-size: 74%;

    &.badge-pill {
      padding-right: 1.25em;
      padding-left: 1.25em;
    }

    &.badge-top-left {
      top: 10px;
      left: -7px;
    }

    &.badge-top-left-2 {
      top: 40px;
      left: -7px;
    }
    &.badge-top-left-3 {
      top: 70px;
      left: -7px;
    }

    &.badge-top-right {
      top: 8px;
      right: -7px;
    }

    &.badge-top-right-2 {
      top: 40px;
      right: -7px;
    }
  }

  .badge-light {
    background-color: map-get($map, light-btn-background);
    color: map-get($map, dark-btn-background);
  }

  .badge-dark {
    background-color: map-get($map, dark-btn-background);
    color: map-get($map, light-btn-background);
  }

  .badge-outline-primary,
  .badge-outline-theme-1 {
    background: unset;
    border: 1px solid map-get($map, theme-color-1);
    color: map-get($map, theme-color-1);
  }

  .badge-outline-secondary,
  .badge-outline-theme-2 {
    background: unset;
    border: 1px solid map-get($map, theme-color-2);
    color: map-get($map, theme-color-2);
  }

  .badge-outline-theme-3 {
    background: unset;
    border: 1px solid map-get($map, theme-color-3);
    color: map-get($map, theme-color-3);
  }

  .badge-outline-success {
    background: unset;
    border: 1px solid $success-color;
    color: $success-color;
  }

  .badge-outline-danger,
  .badge-outline-error {
    background: unset;
    border: 1px solid $error-color;
    color: $error-color;
  }

  .badge-outline-warning {
    background: unset;
    border: 1px solid $warning-color;
    color: $warning-color;
  }

  .badge-outline-info {
    background: unset;
    border: 1px solid $info-color;
    color: $info-color;
  }

  .badge-outline-light {
    background: unset;
    border: 1px solid map-get($map, light-btn-background);
    color: map-get($map, light-btn-background);
  }

  .badge-outline-dark {
    background: unset;
    border: 1px solid map-get($map, dark-btn-background);
    color: map-get($map, dark-btn-background);
  }
  .rtl {
    .badge {
      &.badge-top-left {
        left: initial;
        right: -7px;
      }

      &.badge-top-left-2 {
        left: initial;
        right: -7px;
      }

      &.badge-top-right {
        left: -7px;
        right: initial;
      }

      &.badge-top-right-2 {
        left: -7px;
        right: initial;
      }
    }
  }
}
